themes {
	repl69 {
	    bg "#000000"
		fg "#eeeeee"
		red "#4e4e4e"
		green "#808080"
		blue "#a8a8a8"
		yellow "#c6c6c6"
		magenta "#949494"
		orange "#d75f00"
		cyan "#c6c6c6"
		black "#000000"
		white "#eeeeee"
	};
}
