layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    tab name="project" focus=true {
        pane
    }

    swap_floating_layout{
        floating_panes max_panes=1 {
            pane x="5%" y="5%" width="90%" height="90%"
        }
        floating_panes max_panes=2 {
            pane x="4%" y="5%" width="45%" height="90%"
            pane x="51%" y="5%" width="45%" height="90%"
        }
    }

    swap_tiled_layout name="stacked" {
        tab min_panes=5 {
            pane split_direction="vertical" {
                pane
                pane stacked=true { children; }
            }
        }
    }
}
